*
{
    padding: 0;
    margin: 0;
     box-sizing: border-box;
}
body
{
    background-image: url('backgrounds.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar 
{
    background: rgb(59, 102, 116);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li
{
     width: 120px;
     margin: 15px;
     padding: 15px;
}
.menu-bar ul li a 
{
    text-decoration: none;
    color: white;
}
.active,.menu-bar ul li :hover
{
    background: purple;
    border-radius: 3px;
}
.menu-bar .fa 
{
    margin-right: 8px;

}


/* About Page */
.column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 50%;
    display: block;
   margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.profile-content-wrapper {
    padding: 30px;
}